* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.container-product {
    width: 100%;
    min-width: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;
    color: #7c7c7b;
    background-color: #1b61a6;
}

.wrap-product {
    width: 390px;
    background-color: #1b61a6;
    border-radius: 10px;

    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.product-form {
    width: 100%;
}

.product-form-title {
    display: block;
    font-size: 30px;
    color: azure;

    line-height: 1.2;
    text-align: center;
}

.product-form-title img {
    width: 150px;
}

.wrap-input {
    font-size: 15px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #ffff;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #ffff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #fafafa;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
    background: -o-linear-gradient(to left, #b721ff, #21d4fd);
    background: -moz-linear-gradient(to left, #b721ff, #21d4fd);
    background: linear-gradient(to left, #b721ff, #21d4fd);
}

.focus-input::after {
font-size: 20px;
color: #9999;
line-height: 1.2;
content: attr(data-placeholder);

display: block;
width: 100%;
position: absolute;
top: 16px;
left: 0px;

padding-left: 5px;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after {
    top: -15px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.container-product-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.product-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #ffff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #b721ff, #21d4fd );
    background: -o-linear-gradient(to left,  #b721ff, #21d4fd );
    background: -moz-linear-gradient(to left,  #b721ff, #21d4fd );
    background: linear-gradient(to left,  #b721ff, #21d4fd );
}

.product-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.txt1 {
    font-size: 20px;
    color: #fafafa;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.txt2 {
    font-size: 20px;
    color: #b921ff83;
    line-height: 1.5;
    text-decoration: none;
}

.has-val + .focus-input::after {
    top: -15px;
}

.has-val + .focus-input::before {
    width: 100%;
}